.breadcrumbs {
  @include flex(40px);
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-bg-light);

  p,
  button {
    @include font(400);
    font-size: 1.2rem;
  }

  p {
    color: var(--color-text);
  }

  button {
    padding: 0;
    position: relative;
    color: var(--color-text-light);

    &:last-of-type {
      color: var(--color-text);

      &:after {
        display: none;
      }
    }

    &:after {
      @include font(600);
      content: "/";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: calc(100% + 18px);
      font-size: 1rem;
    }

    &:hover {
      color: var(--color-text);
      text-decoration: underline;
    }
  }
}
