#navigation {
  display: block;
  height: 100vh;
  position: sticky;
  top: 0;

  z-index: 100;
  border-right: 1px solid var(--color-border);

  ul {
    height: 100vh;
    @include flex(10px, center, center, $direction: column);

    li {
      display: block;
      width: 100%;
      padding: 0 5px;

      a {
        @include flex(10px, center, center, $direction: column);
        height: 80px;
        text-decoration: none;
        color: var(--color-text);
        position: relative;

        &:before {
          @include radius(5px);
          @include t(0.2s);
          content: "";
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0;
          height: 0;
          opacity: 0;
          z-index: -1;
        }

        &.router-link-active {
          color: var(--color-primary-lighter);

          &:before {
            opacity: 1;
            height: 100%;
            background-color: var(--color-primary-shade) !important;
          }

          &:hover:before {
            opacity: 0.9;
          }

          strong {
            @include font(500);
          }
        }

        &:hover:before {
          background-color: var(--color-bg);
          opacity: 1;
          height: 100%;
        }

        .material-icons {
          color: inherit;
          font-size: 3.6rem;
        }

        strong {
          @include font(400);
          font-size: 1.2rem;
          color: inherit;
        }
      }
    }
  }
}
