.player {
  position: fixed;
  left: 0;
  bottom: 25px;
  width: 100%;

  .container {
    margin: 0 auto;
  }

  .player-box {
    @include radius(5px);
    @include grid(0, 1fr 388px 1fr);
    align-items: center;
    background-color: var(--color-black);
    height: 44px;
    line-height: 44px;
    padding: 0 5px;
    box-shadow: 1px 3px 10px rgba(#1c1b18, 0.3);

    .player-control {
      @include flex(5px, flex-start, center);

      button {
        @extend .use-button-hover;
        @include flex(0, center, center);
        width: 35px;
        height: 35px;
        border: none;
        background-color: transparent;
        position: relative;
        z-index: 5;

        &.blue.is-active {
          &:after {
            background-color: var(--color-primary-shade);
          }

          &:hover:after {
            opacity: 0.75;
          }
        }

        &:after {
          background-color: var(--color-black-light);
        }

        &.is-active:after {
          opacity: 1;
          height: 100%;
        }

        span {
          z-index: 5;
          font-size: 2rem;
          color: var(--dark-color-text);
        }
      }
    }

    .player-bar-wrap {
      @include flex(20px, center, center);

      span {
        @include font(400);
        font-size: 1.2rem;
        width: 40px;
        text-align: center;
        color: var(--dark-color-text);
      }

      --bar-height: 8px;

      .player-bar-background {
        @include t();

        flex: 1;
        height: var(--bar-height);
        position: relative;
        background-color: var(--color-bg-shade);

        &:hover {
          --bar-height: 12px;
        }

        &:before {
          content: "";
          display: block;
          position: absolute;
          inset: -5px 0;
          z-index: -1;
        }

        .player-bar-tooltip {
          font-size: 1.4rem;
          height: 40px;
          position: absolute;
          bottom: calc(100% + 33px);
          left: 0;
          padding: 0 10px;
          background-color: var(--color-black);
          color: var(--dark-color-text);
          transform: translateX(-50%);
        }

        .player-bar-progress {
          @include t();
          position: absolute;
          inset: 0;
          right: unset;
          height: var(--bar-height);
          background-color: var(--color-primary);
          max-width: 100% !important;
        }

        // .player-bar-btn {
        //   @include t();
        //   @include radius(50%);
        //   display: block;
        //   position: absolute;
        //   top: 50%;
        //   transform: translate(-50%, -50%);
        //   width: 18px;
        //   height: 18px;
        //   background-color: var(--color-primary);
        //   pointer-events: none;
        // }
      }
    }

    .player-file {
      position: relative;
      height: 35px;

      p {
        display: block;
        position: absolute;
        inset: 0;
        left: 40px;
        right: 15px;
        height: 35px;
        line-height: 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        text-align: right;

        button {
          color: var(--dark-color-text-light);
          font-size: 1.2rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
