.route-folder {
  // padding: 40px 0 84px;

  .route-header {
    padding-top: 40px;
  }

  .route-content {
    .wrapper {
      @include grid(0, 384px 1fr);
      min-height: 100vh;
    }

    .sidebar-wrapper {
      position: relative;
      height: 100%;
      border-right: 1px solid var(--color-border);
      padding: 20px;
      padding-top: 20px;
      padding-right: 20px;
      background-color: var(--color-bg-light);

      &:before {
        content: "";
        display: block;
        top: 0;
        bottom: 0;
        position: absolute;
        right: 100%;
        width: 5000px;
        z-index: -1;
        background-color: var(--color-bg-light);
      }

      aside {
        position: sticky;
        top: 40px;
        max-height: calc(100vh - 120px);
        overflow-y: auto;
        overflow-x: hidden;

        h5 {
          margin-bottom: 20px;
        }

        .folder-structure {
          // margin-left: -5px;
          li {
            width: 100%;
            // margin-bottom: 4px;

            & > ul {
              padding-left: 15px;
            }

            &.is-active {
              button {
                color: var(--color-primary);

                &:after {
                  opacity: 0.2;
                  height: 100%;
                }

                .material-icons {
                  color: var(--color-primary) !important;
                }
              }
            }

            button {
              @include flex(10px, flex-start, center);
              @include font(400);
              width: 100%;
              text-align: left;
              padding: 6px 10px;
              font-size: 1.3rem;
              position: relative;
              color: var(--color-text);

              .material-icons {
                color: var(--color-text-light);
              }

              &:after {
                @include radius(5px);
                @include t(0.1s);
                content: "";
                position: absolute;
                right: 0;
                left: 0;
                bottom: 0;
                height: 0;
                background-color: var(--color-bg-dark);
                opacity: 0;
                z-index: -1;
              }

              &:hover {
                &:after {
                  opacity: 0.3;
                  height: 100%;
                }

                .material-icons {
                  color: var(--color-text);
                }
              }
            }
          }
        }
      }
    }

    .table-wrapper {
      // padding-top: 20px;
      // padding-left: 20px;
      padding-bottom: 84px;

      table {
        margin-left: 20px;
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;

        thead tr th {
          @include font(500);
          text-align: left;
          font-size: 1.2rem;
          text-transform: uppercase;
          color: var(--color-text-light);
          padding-bottom: 10px;
          padding-top: 10px;
          position: sticky;
          top: 0;
          background-color: var(--color-white);

          &:first-child {
            width: 50px;
          }

          &:nth-child(2) {
            width: 90%;
          }

          &:nth-child(3) {
            width: 30%;
          }

          &:nth-child(4) {
            width: 30%;
          }
        }

        tbody tr {
          cursor: pointer;

          &:hover {
            td {
              background-color: var(--color-bg-light);

              &.is-file {
                .material-icons {
                  opacity: 1;
                }
              }
            }
          }

          td {
            @include t();
            padding: 10px 0;
            vertical-align: middle;

            &:hover {
              &.is-file .material-icons {
                color: var(--color-primary);
              }
            }

            &.is-file {
              .material-icons {
                @include t();
                // opacity: 0;
                color: var(--color-primary);
              }
            }

            &:first-of-type {
              @include radius(5px 0 0 5px);
              padding-left: 10px;
              width: 40px;

              .icon {
                width: 20px;
                height: 20px;
                position: relative;

                .material-icons {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }

            &:last-of-type {
              @include radius(0 5px 5px 0);
            }
          }
        }
      }
    }
  }
}
