.route-folder {
  .route-header {
    padding-top: 40px;
  }

  .route-content {
    .wrapper {
      @include grid(0, 384px 1fr);
      min-height: 100vh;
    }

    .sidebar-wrapper {
      position: relative;
      height: 100%;
      border-right: 1px solid var(--color-border);
      padding: 20px;
      padding-top: 20px;
      padding-right: 20px;
      background-color: var(--color-bg-light);

      &:before {
        content: "";
        display: block;
        top: 0;
        bottom: 0;
        position: absolute;
        right: 100%;
        width: 5000px;
        z-index: -1;
        background-color: var(--color-bg-light);
      }

      aside {
        position: sticky;
        top: 20px;
        max-height: calc(100vh - 120px);
        overflow-y: auto;
        overflow-x: hidden;

        h5 {
          margin-bottom: 20px;
        }

        .folder-structure {
          li {
            width: 100%;

            & > ul {
              padding-left: 15px;
            }

            &.is-active {
              button {
                &:after {
                  opacity: 1;
                  height: 100%;
                }

                .material-icons {
                  color: var(--color-primary) !important;
                }
              }
            }

            &.is-played {
              button {
                color: var(--color-primary);
              }
            }

            button {
              @include flex(10px, flex-start, center);
              @include font(400);
              @extend .use-button-hover;
              // width: 100%;
              text-align: left;
              padding: 6px 10px;
              font-size: 1.3rem;
              position: relative;
              color: var(--color-text);

              .material-icons {
                color: var(--color-text-light);
              }

              &:after {
                background-color: var(--color-bg-shade);
              }

              &:hover {
                .material-icons {
                  color: var(--color-text);
                }
              }
            }
          }
        }
      }
    }

    .table-wrapper {
      padding-bottom: 84px;

      table {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
        max-width: 1280px;

        table-layout: fixed;
        border-collapse: collapse;

        thead tr th {
          @include font(500);
          text-align: left;
          font-size: 1.2rem;
          text-transform: uppercase;
          color: var(--color-text-light);
          padding-bottom: 10px;
          padding-top: 10px;
          position: sticky;
          top: 0;
          background-color: var(--color-white);

          &:first-child {
            width: 50px !important;
            min-width: 50px !important;
            max-width: 50px !important;
          }

          &:nth-child(2) {
            width: 60%;
          }

          &:nth-child(3) {
            width: 20%;
          }

          &:nth-child(4) {
            width: 20%;
          }

          &:nth-child(5) {
            width: 30px !important;
            min-width: 30px !important;
            max-width: 30px !important;
          }
        }

        tbody tr {
          cursor: pointer;

          &.is-hovered {
            td {
              background-color: var(--color-bg-light);

              &.is-file {
                .material-icons {
                  opacity: 1;
                }
              }
            }
          }

          &.is-active {
            td {
              &:nth-child(2) {
                @include font(500);
                color: var(--color-primary);
              }
            }
          }

          td {
            @include t();
            padding: 12px 0;
            vertical-align: middle;

            &:hover {
              &.is-file .material-icons {
                color: var(--color-primary);
              }
            }

            &.is-file {
              .material-icons {
                @include t();
                // opacity: 0;
                color: var(--color-primary);
              }
            }

            &:first-of-type {
              @include radius(5px 0 0 5px);
              padding-left: 10px;
              width: 40px;

              .icon {
                width: 20px;
                height: 20px;
                position: relative;

                .material-icons {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }

            &:last-of-type {
              @include radius(0 5px 5px 0);

              font-size: 1.3rem;
              text-align: left;
              position: relative;

              .dropdown-button-open {
                @include radius(2px);
                display: block;
                margin: 0;
                padding: 0;
                height: 24px;
                width: 24px;
                z-index: 5;
                position: relative;

                &:hover:after {
                  opacity: 1;
                  height: 100%;
                }

                &:after {
                  @include radius(5px);
                  @include t(0.1s);
                  content: "";
                  position: absolute;
                  right: 0;
                  left: 0;
                  bottom: 0;
                  height: 0;
                  background-color: var(--color-bg-shade);
                  opacity: 0;
                  z-index: -1;
                }

                .material-icons {
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  transform: translate(-50%, -50%);
                }
              }
            }
          }
        }
      }
    }
  }
}
