:root {
  // New shit
  --color-white: #fffdf9;
  --color-black: #1c1b18;
  --color-black-light: #312f2a;

  --color-text: #2a2821;
  --color-text-light: #a39e94;

  --dark-color-text: #f5edd8;
  --dark-color-text-light: #767167;

  --color-bg-light: #f4f1e7;
  --color-bg: #eae6dc;
  --color-bg-shade: #dfdcd1;
  --color-bg-dark: #c5c0b2;
  --color-border: #d6d3c8;

  --color-primary-shade: #2a2977;
  --color-primary: #5451ee;
  --color-primary-light: #aaa8f7;
  --color-primary-lighter: #dddcfc;

  --shadow: 0 1px 6px rgba(28, 27, 24, 0.2);
}

:root.dark-theme {
  // Dark theme variable versions
}
