.button {
  @include font(400);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  gap: 5px;
  line-height: 40px;
  padding: 0 15px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.4rem;
  cursor: pointer;

  // Variations

  &.btn-icon {
    display: inline-flex;
    justify-items: center;
    align-items: center;
    width: 40px;
    padding: 0;
  }
}

// Colors

.button.btn-black {
  @extend .use-button-hover;

  background-color: var(--color-black);
  color: var(--dark-color-text);

  &:after {
    @include radius(0);
    background-color: var(--color-black-light);
  }
}

.button.btn-blue {
  @extend .use-button-hover;

  background-color: var(--color-primary-lighter);
  color: var(--color-text);

  &:after {
    @include radius(0);
    background-color: var(--color-primary-light);
  }
}
